<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Version" value="0.2.8.12" />
  <add key="Release" value="2016-04-14" />
  <add key="SAP" value="Sonluk.DataAccess.SAP"/>
  <add key="SAP.User" value="FEFD874D81E5EDC7"/>
  <add key="SAP.Password" value="f581dcb432c9f9bbe4f4df497f17e860"/>
  <add key="Oracle" value="Sonluk.DataAccess.Oracle"/>
  <add key="Oracle.User" value="49754f8ae963dd9d" />
  <add key="Oracle.Password" value="fd53bce4f58018ba" />
  <add key="SQLServer" value="Sonluk.DataAccess.SQLServer"/>
  <add key="RMS" value="http://10.1.22.1/"/>
  <add key="RMS.DataAccess" value="Sonluk.DataAccess.RMS"/>
  <add key="RMS.DB.User" value="962302af2f3c42b7" />
  <add key="RMS.DB.Password" value="26527b6393de2480efb0176d7fbbcb73" />
  <!--<add key="OA" value="http://192.168.8.100/" />
  <add key="OA.Internet" value="http://192.168.8.100/" />
  <add key="OA.SSO" value="b1600a02494d0d131503e67b56995b3c" />
  <add key="OA.DataAccess" value="Sonluk.DataAccess.OA"/>
  <add key="OA.DB.User" value="6bb7702972648c5bab2c57b436da2096" />
  <add key="OA.DB.Password" value="cc5027518bdefc80" />
  <add key="OA.Admin" value="02096" />-->
  <add key="OA" value="http://192.168.0.168/" />
  <add key="OA.Internet" value="http://61.130.104.38/" />
  <add key="OA.SSO" value="b1600a02494d0d131503e67b56995b3c" />
  <add key="OA.DataAccess" value="Sonluk.DataAccess.OA"/>
  <add key="OA.DB.User" value="8051e65b90989ea4" />
  <add key="OA.DB.Password" value="cc5027518bdefc80" />
  <add key="OA.Admin" value="seeyon" />
  
  <add key="LE.TRA" value="Sonluk.DataAccess.LE.TRA"/>
  <add key="LE.TRA.DB.User" value="968f9c62bfaa1594" />
  <add key="LE.TRA.DB.Password" value="efb61be9e7dc6fcafa171af9d94c7daf" />
  <add key="Fonts" value="simsun.ttc,0;malgun.ttf" />
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="KQ" value="http://192.168.8.230/"/>
  <add key="KQ.DataAccess" value="Sonluk.DataAccess.KQ"/>
  <add key="KQ.DB.User" value="197bcadef0bd74ee" />
  <add key="KQ.DB.Password" value="b4d2857c2d941bf4" />
  <add key="FileSavePath" value="E:\CRMupload"/>
  <add key="RyImageAdress" value="http://192.168.8.244/HR" />

  <add key="DRFSERVICE" value="http://192.168.8.54/" />

  <!--微信凭证-->
  <add key="AppID" value="wxaf47539a32188dc3"/>
  <!--<add key="AppID" value="wxaacedb1c8612157c"/>-->

  <!--微信密钥-->
  <add key="AppSecret" value="baf41487e4d461ef8677f6ebb7a70c33"/>
  <!--<add key="AppSecret" value="de01c2c23180f5750f06e26e41f79a2d"/>-->

  <!--企业ID-->
  <add key="CorpID" value="ww47250b95f4ece306"/>

  <!--企业凭证-->
  <add key="AgentId" value="1000010"/>

  <!--企业密钥-->
  <add key="Secret" value="4FvbullATvThh8r18xoOvOlCK9tAsJhrtptiSlpxKyM"/>


  <add key="SSOURLDROPOUTIN" value="http://192.168.0.16/SonlukSSO/SSO/Public/Password"/>
  <add key="SSOURLDROPOUTOUT" value="http://dev.sonluk.com.cn/SonlukSSO/SSO/Public/Password"/>

  <!--公众号发送模版消息的模版号-->
  <!--<add key="意见反馈通知" value="-iLnLyaU_wL7-tKQaRblkJcqnzGscINEd4YONi7cU_0"/>
  <add key="系统异常通知" value="CHmfeZ_ye3UBnl0sf5eoE7G-MWrntwFDTmljjIuYn-0"/>
  <add key="检查结果通知" value="kES_qXK5an_H9cQ6FhlEeDqxHyrR7kC4-oaDmbQKJeQ"/>
  <add key="设备异常提醒" value="vjVu-8yZ1h131x4q3MUr-T3htKPyj_S8hN8oyoUf1Vc"/>-->

  <add key="设备异常提醒" value="LMB8IF5wR1672950k1eEwAgyk2B-vNdQv8i9NNdj3Ro"/>
  <add key="系统异常通知" value="N7bWMRBxRZSlLAPvUcGffHInaHSx8kTyJ2QPEuuMcDE"/>
  <add key="检查结果通知" value="SBjvQLobu3Rfi8POu-RSngmI3We7SVc86eV5HD_tkg8"/>
  <add key="意见反馈通知" value="bZR66c04YsS5rf0NcxpySlFx-SN5oZNFmSHGV2YR0fs"/>

  <add key="OPENID" value="otKEk1ITo_sukOB5_6b13OISMHoI"/>

  <!--Api设置-->
  <add key="ApiAuthorKey" value="a24d2119d2772325e50f2377d06427b0"/>
  <add key="ApiAuthorName" value="1f4bb7864df6feb407edf9d1b2090010"/>
</appSettings>
