<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.8.246)(PORT=1521))(CONNECT_DATA=(SID=ZYMIS)));User Id=Sonluk;Password=Sonluk;" />
  <add name="OA" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.168)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=Sonluk;Password=Sonluk;" />
  <add name="RMS" connectionString="Data Source=10.1.20.101;Initial Catalog=YCLSYB;User ID=Sonluk;Password=Sonluk;" providerName="System.Data.SqlClient"/>
  <add name="KQ" connectionString="Data Source=192.168.8.230;Initial Catalog=zkteco_database;User ID=sa;Password=Abc123;" providerName="System.Data.SqlClient"/>
  <add name="LE.TRA" connectionString="Data Source=10.1.20.101;Initial Catalog=HGMM;User ID=Sonluk;Password=Sonluk;" providerName="System.Data.SqlClient"/>
</connectionStrings>