<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="authorityServiceSoap11Binding" />
                <binding name="BPMServiceSoap11Binding" />
                <binding name="affairServiceSoap11Binding" />
                <binding name="documentServiceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="authorityServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BPMServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="affairServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="documentServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.168:80/seeyon/services/authorityService.authorityServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="authorityServiceSoap11Binding"
                contract="AuthorityService.authorityServicePortType" name="authorityServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/authorityService.authorityServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="authorityServiceSoap12Binding"
                contract="AuthorityService.authorityServicePortType" name="authorityServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/BPMService.BPMServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="BPMServiceSoap11Binding"
                contract="BPMService.BPMServicePortType" name="BPMServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/BPMService.BPMServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="BPMServiceSoap12Binding"
                contract="BPMService.BPMServicePortType" name="BPMServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/affairService.affairServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="affairServiceSoap11Binding"
                contract="AffairService.affairServicePortType" name="affairServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/affairService.affairServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="affairServiceSoap12Binding"
                contract="AffairService.affairServicePortType" name="affairServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/documentService.documentServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="documentServiceSoap11Binding"
                contract="DocumentService.documentServicePortType" name="documentServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.168:80/seeyon/services/documentService.documentServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="documentServiceSoap12Binding"
                contract="DocumentService.documentServicePortType" name="documentServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>