<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="affairServiceSoap11Binding" maxReceivedMessageSize="2147483647"/>
                <binding name="authorityServiceSoap11Binding" maxReceivedMessageSize="2147483647"/>
                <binding name="messageServiceSoap11Binding" maxReceivedMessageSize="2147483647"/>
                <binding name="BPMServiceSoap11Binding" maxReceivedMessageSize="2147483647" />
                <binding name="documentServiceSoap11Binding" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="affairServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="authorityServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="messageServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BPMServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="documentServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.13:80/seeyon/services/affairService.affairServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="affairServiceSoap11Binding"
                contract="Seeyon.AffairAPI.affairServicePortType" name="affairServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/affairService.affairServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="affairServiceSoap12Binding"
                contract="Seeyon.AffairAPI.affairServicePortType" name="affairServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/authorityService.authorityServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="authorityServiceSoap11Binding"
                contract="Seeyon.AuthorityAPI.authorityServicePortType" name="authorityServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/authorityService.authorityServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="authorityServiceSoap12Binding"
                contract="Seeyon.AuthorityAPI.authorityServicePortType" name="authorityServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/messageService.messageServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="messageServiceSoap11Binding"
                contract="Seeyon.MessageAPI.messageServicePortType" name="messageServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/messageService.messageServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="messageServiceSoap12Binding"
                contract="Seeyon.MessageAPI.messageServicePortType" name="messageServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/BPMService.BPMServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="BPMServiceSoap11Binding"
                contract="Seeyon.BMPAPI.BPMServicePortType" name="BPMServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.0.13:80/seeyon/services/BPMService.BPMServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="BPMServiceSoap12Binding"
                contract="Seeyon.BMPAPI.BPMServicePortType" name="BPMServiceHttpSoap12Endpoint" />
            <endpoint address="http://192.168.8.100:80/seeyon/services/documentService.documentServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="documentServiceSoap11Binding"
                contract="Seeyon.DocumentAPI.documentServicePortType" name="documentServiceHttpSoap11Endpoint" />
            <endpoint address="http://192.168.8.100:80/seeyon/services/documentService.documentServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="documentServiceSoap12Binding"
                contract="Seeyon.DocumentAPI.documentServicePortType" name="documentServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>