<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sonluk.UnitTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="Sonluk" CLIENT="701" LANG="zh" ASHOST="192.168.0.5" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="3600"/>
          <add NAME="Sonluk_Prd" CLIENT="800" LANG="zh" ASHOST="192.168.8.16" SYSNR="01" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="3600"/>
          <add NAME="Sonluk_Dev" CLIENT="701" LANG="zh" ASHOST="192.168.0.5" SYSNR="00" POOL_SIZE="5" MAX_POOL_SIZE="10" IDLE_TIMEOUT="3600"/>
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.166)(PORT=1521))(CONNECT_DATA=(SID=ZYMIS)));User Id=Sonluk;Password=Sonluk;" />
    <add name="OA" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.168)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=Sonluk;Password=Sonluk;" />
    <add name="RMS" connectionString="Data Source=192.168.0.17;Initial Catalog=YCLSY;User ID=Sonluk;Password=Sonluk;" providerName="System.Data.SqlClient"/>
    <!--<add name="LE.TRA" connectionString="Data Source=192.168.0.9;Initial Catalog=HGMM;User ID=Sonluk;Password=Sonluk;" providerName="System.Data.SqlClient"/>-->
    <add name="LE.TRA" connectionString="Data Source=192.168.0.17;Initial Catalog=HGMM;User ID=Sonluk;Password=Sonluk;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Version" value="0.2.8" />
    <add key="Release" value="2015-11-13" />
    <add key="SAP" value="Sonluk.DataAccess.SAP"/>
    <add key="SAP.User" value="9A008E11C49FB7D3"/>
    <add key="SAP.Password" value="BB2501525147269CC6E1991210917FDF"/>
    <add key="Oracle" value="Sonluk.DataAccess.Oracle"/>
    <add key="Oracle.User" value="49754f8ae963dd9d" />
    <add key="Oracle.Password" value="49754f8ae963dd9d" />
    <add key="SQLServer" value="Sonluk.DataAccess.SQLServer"/>
    <add key="APIC" value="Sonluk.DataAccess.APIC"/>
    <add key="RMS" value="http://192.168.0.17/"/>
    <add key="RMS.DataAccess" value="Sonluk.DataAccess.RMS"/>
    <add key="RMS.DB.User" value="962302af2f3c42b7" />
    <add key="RMS.DB.Password" value="a30d009a38a08ad3" />
    <add key="OA" value="http://192.168.8.100/" />
    <add key="OA.Internet" value="http://61.130.104.38/" />
    <add key="OA.SSO" value="b1600a02494d0d131503e67b56995b3c" />
    <add key="OA.DataAccess" value="Sonluk.DataAccess.OA"/>
    <add key="OA.DB.User" value="8051e65b90989ea4" />
    <add key="OA.DB.Password" value="cc5027518bdefc80" />
    <add key="OA.Admin" value="02096" />
    <add key="Fonts" value="simsun.ttc,0;malgun.ttf" />
    <add key="SAP.User.DEV" value="9A008E11C49FB7D3"/>
    <add key="SAP.Password.DEV" value="BB2501525147269CC6E1991210917FDF"/>
    <add key="SAP.User.PRD" value="FEFD874D81E5EDC7"/>
    <add key="SAP.Password.PRD" value="5EA31148B599B642487EEA6436B197C0"/>
    <add key="LE.TRA" value="Sonluk.DataAccess.LE.TRA"/>
    <!--<add key="LE.TRA.DB.User" value="968f9c62bfaa1594" />
    <add key="LE.TRA.DB.Password" value="619db60d2953647a" />-->
    <add key="LE.TRA.DB.User" value="968f9c62bfaa1594" />
    <add key="LE.TRA.DB.Password" value="5d97f7906a6463d7" />
    <add key="RemoteAddress" value="http://192.168.0.218/API/"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BPMServiceSoap11Binding" maxReceivedMessageSize="2147483647" />
        <binding name="documentServiceSoap11Binding" maxReceivedMessageSize="2147483647" />
        <binding name="affairServiceSoap11Binding" />
        <binding name="authorityServiceSoap11Binding" />
        <binding name="messageServiceSoap11Binding" />
        <binding name="ConsignmentNoteSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BPMServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="documentServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="affairServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="authorityServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="messageServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ConsignmentNoteSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx"
                binding="basicHttpBinding" bindingConfiguration="EnqueueSoap"
                contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap" />
      <endpoint address="http://192.168.0.132/API/BC/Enqueue.asmx"
          binding="customBinding" bindingConfiguration="EnqueueSoap12"
          contract="BC.EnqueueService.EnqueueSoap" name="EnqueueSoap12" />
      <endpoint address="http://192.168.0.132/API/Account/Access.asmx"
          binding="basicHttpBinding" bindingConfiguration="AccessSoap"
          contract="Account.AccessService.AccessSoap" name="AccessSoap" />
      <endpoint address="http://192.168.0.132/API/Account/Access.asmx"
          binding="customBinding" bindingConfiguration="AccessSoap12"
          contract="Account.AccessService.AccessSoap" name="AccessSoap12" />
      <endpoint address="http://192.168.0.132/API/OA/Pending.asmx"
          binding="basicHttpBinding" bindingConfiguration="PendingSoap"
          contract="OA.PendingService.PendingSoap" name="PendingSoap" />
      <endpoint address="http://192.168.0.132/API/OA/Pending.asmx"
          binding="customBinding" bindingConfiguration="PendingSoap12"
          contract="OA.PendingService.PendingSoap" name="PendingSoap12" />
      <endpoint address="http://192.168.0.132/API/Print/Layout.asmx"
          binding="basicHttpBinding" bindingConfiguration="LayoutSoap"
          contract="Print.LayoutService.LayoutSoap" name="LayoutSoap" />
      <endpoint address="http://192.168.0.132/API/Print/Layout.asmx"
          binding="customBinding" bindingConfiguration="LayoutSoap12"
          contract="Print.LayoutService.LayoutSoap" name="LayoutSoap12" />
      <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx"
          binding="basicHttpBinding" bindingConfiguration="SalesOrderSoap"
          contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap" />
      <endpoint address="http://192.168.0.132/API/SD/SalesOrder.asmx"
          binding="customBinding" bindingConfiguration="SalesOrderSoap12"
          contract="SD.SalesOrderService.SalesOrderSoap" name="SalesOrderSoap12" />
      <endpoint address="http://192.168.0.132/API/Setting/Version.asmx"
          binding="basicHttpBinding" bindingConfiguration="VersionSoap"
          contract="Setting.VersionService.VersionSoap" name="VersionSoap" />
      <endpoint address="http://192.168.0.132/API/Setting/Version.asmx"
          binding="customBinding" bindingConfiguration="VersionSoap12"
          contract="Setting.VersionService.VersionSoap" name="VersionSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx"
          binding="basicHttpBinding" bindingConfiguration="OutboundDeliverySoap"
          contract="LE.OutboundDeliveryService.OutboundDeliverySoap"
          name="OutboundDeliverySoap" />
      <endpoint address="http://192.168.0.132/API/LE/OutboundDelivery.asmx"
          binding="customBinding" bindingConfiguration="OutboundDeliverySoap12"
          contract="LE.OutboundDeliveryService.OutboundDeliverySoap"
          name="OutboundDeliverySoap12" />
      <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="basicHttpBinding"
          bindingConfiguration="LogSoap" contract="DEV.LogService.LogSoap"
          name="LogSoap" />
      <endpoint address="http://192.168.0.132/API/DEV/Log.asmx" binding="customBinding"
          bindingConfiguration="LogSoap12" contract="DEV.LogService.LogSoap"
          name="LogSoap12" />
      <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="basicHttpBinding"
          bindingConfiguration="FlowSoap" contract="OA.FlowService.FlowSoap"
          name="FlowSoap" />
      <endpoint address="http://192.168.0.132/API/OA/Flow.asmx" binding="customBinding"
          bindingConfiguration="FlowSoap12" contract="OA.FlowService.FlowSoap"
          name="FlowSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx"
          binding="basicHttpBinding" bindingConfiguration="CarrierSoap"
          contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Carrier.asmx"
          binding="customBinding" bindingConfiguration="CarrierSoap12"
          contract="LE.TRA.CarrierService.CarrierSoap" name="CarrierSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx"
          binding="basicHttpBinding" bindingConfiguration="SenderSoap"
          contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Sender.asmx"
          binding="customBinding" bindingConfiguration="SenderSoap12"
          contract="LE.TRA.SenderService.SenderSoap" name="SenderSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx"
          binding="basicHttpBinding" bindingConfiguration="CitySoap"
          contract="LE.TRA.CityService.CitySoap" name="CitySoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/City.asmx"
          binding="customBinding" bindingConfiguration="CitySoap12"
          contract="LE.TRA.CityService.CitySoap" name="CitySoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx"
          binding="basicHttpBinding" bindingConfiguration="ReceiverSoap"
          contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Receiver.asmx"
          binding="customBinding" bindingConfiguration="ReceiverSoap12"
          contract="LE.TRA.ReceiverService.ReceiverSoap" name="ReceiverSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx"
          binding="basicHttpBinding" bindingConfiguration="GoodsSoap"
          contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Goods.asmx"
          binding="customBinding" bindingConfiguration="GoodsSoap12"
          contract="LE.TRA.GoodsService.GoodsSoap" name="GoodsSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx"
          binding="basicHttpBinding" bindingConfiguration="PackageSoap"
          contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Package.asmx"
          binding="customBinding" bindingConfiguration="PackageSoap12"
          contract="LE.TRA.PackageService.PackageSoap" name="PackageSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx"
          binding="basicHttpBinding" bindingConfiguration="FeedbackSoap"
          contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Feedback.asmx"
          binding="customBinding" bindingConfiguration="FeedbackSoap12"
          contract="LE.TRA.FeedbackService.FeedbackSoap" name="FeedbackSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx"
          binding="basicHttpBinding" bindingConfiguration="ComplaintSoap"
          contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Complaint.asmx"
          binding="customBinding" bindingConfiguration="ComplaintSoap12"
          contract="LE.TRA.ComplaintService.ComplaintSoap" name="ComplaintSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx"
          binding="basicHttpBinding" bindingConfiguration="UnitSoap"
          contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Unit.asmx"
          binding="customBinding" bindingConfiguration="UnitSoap12"
          contract="LE.TRA.UnitService.UnitSoap" name="UnitSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx"
          binding="basicHttpBinding" bindingConfiguration="DestinationSoap"
          contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Destination.asmx"
          binding="customBinding" bindingConfiguration="DestinationSoap12"
          contract="LE.TRA.DestinationService.DestinationSoap" name="DestinationSoap12" />
      <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="basicHttpBinding"
          bindingConfiguration="UserSoap" contract="BC.UserService.UserSoap"
          name="UserSoap" />
      <endpoint address="http://192.168.0.132/API/BC/User.asmx" binding="customBinding"
          bindingConfiguration="UserSoap12" contract="BC.UserService.UserSoap"
          name="UserSoap12" />
      <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="basicHttpBinding"
          bindingConfiguration="TableSoap" contract="DEV.TableService.TableSoap"
          name="TableSoap" />
      <endpoint address="http://192.168.0.132/API/DEV/TABLE.asmx" binding="customBinding"
          bindingConfiguration="TableSoap12" contract="DEV.TableService.TableSoap"
          name="TableSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx"
          binding="basicHttpBinding" bindingConfiguration="PriceSoap"
          contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Price.asmx"
          binding="customBinding" bindingConfiguration="PriceSoap12"
          contract="LE.TRA.PriceService.PriceSoap" name="PriceSoap12" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx"
          binding="basicHttpBinding" bindingConfiguration="RouteSoap"
          contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap" />
      <endpoint address="http://192.168.0.132/API/LE/TRA/Route.asmx"
          binding="customBinding" bindingConfiguration="RouteSoap12"
          contract="LE.TRA.RouteService.RouteSoap" name="RouteSoap12" />
      <endpoint address="http://192.168.0.218/API/LE/TRA/ConsignmentNote.asmx"
          binding="basicHttpBinding" bindingConfiguration="ConsignmentNoteSoap"
          contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap"
          name="ConsignmentNoteSoap" />
      <endpoint address="http://192.168.0.218/API/LE/TRA/ConsignmentNote.asmx"
          binding="customBinding" bindingConfiguration="ConsignmentNoteSoap12"
          contract="LE.TRA.ConsignmentNoteService.ConsignmentNoteSoap"
          name="ConsignmentNoteSoap12" />
      <endpoint address="http://192.168.0.17/API/MM/ScheduleRequisition.asmx"
          binding="basicHttpBinding" bindingConfiguration="ScheduleRequisitionSoap"
          contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap"
          name="ScheduleRequisitionSoap" />
      <endpoint address="http://192.168.0.17/API/MM/ScheduleRequisition.asmx"
          binding="customBinding" bindingConfiguration="ScheduleRequisitionSoap12"
          contract="MM.ScheduleRequisitionService.ScheduleRequisitionSoap"
          name="ScheduleRequisitionSoap12" />
      <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx"
          binding="basicHttpBinding" bindingConfiguration="BarCodeSoap"
          contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap" />
      <endpoint address="http://192.168.0.218/API/BC/BarCode.asmx"
          binding="customBinding" bindingConfiguration="BarCodeSoap12"
          contract="BC.BarCodeService.BarCodeSoap" name="BarCodeSoap12" />
      <endpoint address="http://192.168.0.218/API/MM/PurchaseOrder.asmx"
          binding="basicHttpBinding" bindingConfiguration="PurchaseOrderSoap"
          contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap" />
      <endpoint address="http://192.168.0.218/API/MM/PurchaseOrder.asmx"
          binding="customBinding" bindingConfiguration="PurchaseOrderSoap12"
          contract="MM.PurchaseOrderService.PurchaseOrderSoap" name="PurchaseOrderSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Sonluk.UnitTesting.Properties.Settings>
      <setting name="Sonluk_UnitTesting_BarCode_BarCode" serializeAs="String">
        <value>http://192.168.0.218/API/BC/BarCode.asmx</value>
      </setting>
    </Sonluk.UnitTesting.Properties.Settings>
  </applicationSettings>
</configuration>